!  ██     ██
! ░░██   ██
!  ░░██ ██   ██████  █████   ██████  ██████  ██   ██ ██████  █████   █████   ██████ 
!   ░░███   ░░██░░█ ██░░░██ ██░░░░  ██░░░░██░██  ░██░░██░░█ ██░░░██ ██░░░██ ██░░░░  
!    ██░██   ░██ ░ ░███████░░█████ ░██   ░██░██  ░██ ░██ ░ ░██  ░░ ░███████░░█████  
!   ██ ░░██  ░██   ░██░░░░  ░░░░░██░██   ░██░██  ░██ ░██   ░██   ██░██░░░░  ░░░░░██ 
!  ██   ░░██░███   ░░██████ ██████ ░░██████ ░░██████░███   ░░█████ ░░██████ ██████  
! ░░     ░░ ░░░     ░░░░░░ ░░░░░░   ░░░░░░   ░░░░░░ ░░░     ░░░░░   ░░░░░░ ░░░░░░   

! -----------[ FONTS ]------------
*font:       {{ font1 }}
*boldFont:   {{ font1 }}
*italicFont: {{ font1 }}

! -----------[ COLORS ]-----------
*highlightColor: #{{ b_black }}
*cursorColor: 	 #{{ b_white }}
*borderColor: 	 #{{ bgc }}
*background:  	 #{{ bgc }}
*foreground:  	 #{{ fgc }}

!BLACK
*color0:  #{{ n_black }}
*color8:  #{{ b_black }}
!RED
*color1:  #{{ n_red }}
*color9:  #{{ b_red }}
!GREEN
*color2:  #{{ n_green }}
*color10: #{{ b_green }}
!YELLOW
*color3:  #{{ n_yellow }}
*color11: #{{ b_yellow }}
!BLUE
*color4:  #{{ n_blue }}
*color12: #{{ b_blue }}
!MAGENTA
*color5:  #{{ n_magenta }}
*color13: #{{ b_magenta }}
!CYAN
*color6:  #{{ n_cyan }}
*color14: #{{ b_cyan }}
!WHITE
*color7:  #{{ n_white }}
*color15: #{{ b_white }}

! -----------[ URXVT ]------------
URxvt*dynamicColors:   on
URxvt.internalBorder:  5
URxvt*lineSpace:       2
URxvt*scrollBar:       false
URxvt*saveLines:       1000
URxvt*cursorUnderline: false
URxvt*cursorBlink:     true
URxvt*allow_bold:      true
URxvt*perl-lib:        /usr/lib/urxvt/perl/
URxvt*perl-ext-common: default,matcher
URxvt*url-launcher:   firefox
URxvt*matcher.button: 1
URxvt*modifier: alt

! ------------[ Rofi ]------------
rofi.font:      {{ font1 }} 14
rofi.terminal:  urxvt
rofi.separator-style: none

rofi.lines:     7
rofi.line-margin:   10
rofi.hide-scrollbar: true
rofi.scroll-method:  0
 
rofi.width: 30
rofi.padding: 8
rofi.bw: 1
rofi.eh: 1

rofi.color-window: argb:dd{{ bgc }}, argb:dd{{ b_white }}, argb:dd{{ fgc }}
rofi.color-normal: argb:0{{ bgc }}, {{ fgc }}, argb:0{{ bgc }}, argb:42{{ b_green }}, argb:dd{{ fgc }} 
rofi.color-active: argb:0{{ b_green }}, argb:dd{{ fgc }}, argb:dd{{ bgc }}, argb:dd{{ b_green }}, argb:dd{{ fgc }} 


! -------------[ IRSSI ]--------------


!--------------[ MISC ]---------------
Xcursor*size: 16
